/.vs/nlohmann_json_test/v15/.suo
/.vs/nlohmann_json_test/v15/Browse.VC.db
/.vs/nlohmann_json_test/v15/ipch/AutoPCH/a6daea95d70d529c/NLOHMANNJSONTEST.ipch
/.vs/nlohmann_json_test/v15/ipch/e6823ffb0a49db60.ipch
